.form-text{
    margin-top: 20px;
  }
  .btn-primary{
    margin-top: 10px;
    border: none;
  }
  
  .btn-primary:hover{
    background-color:rgb(4, 107, 28);
    color:white;
  }
  
  .newAccount{
    margin-top: 10px;
  }
  .newUser{
    font-size:large;
    color: gray;
  }
  
  .singUp{
    margin-left: 5px;
    border: none;
    background-color: white;
    font-size: 25px;
  }
  
  .singUp:hover{
    color:rgb(131, 3, 3);
    cursor: pointer;
    font-weight: bold;
  }