@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
  font-size: 65%;
}

.main-div {
  min-height: 100vh;
  background: #fefeff;
  display: flex;
  justify-content: center;
}

.child-div {
  text-align: center;
  margin-top: 12rem;
}


p{
  text-align: center;
  padding-right: 22px;
  font-size: large;
  color: gray;
}

input {
  min-width: 40rem;
  height: 3.4rem;
  padding: 2rem 1.2rem;
  font-size: 1.8rem;
  line-height: 1.42857143;
  margin-top: 2rem;
  color: rgb(58, 57, 57);
  background-color: #fff;
  background-image: none;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
}

input,
input:focus,
input:active,
input:active:focus {
  border: none;
  padding: 2.3rem 1.5rem;
  outline: none;
  box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.2);
}

.todo-btn {
  width: 5rem;
  display: flex;
  justify-content: space-around;
}

.fa-power-off{
  color: rgb(164, 0, 0);
}

.fa {
  margin-left: -2.5rem;
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  background-color: none;
  background-image: none;
  font-size: 2rem;
}

.fa-plus:before {
  content: "\f067";
  font-size: 1.5rem;
  color: rgb(44, 12, 89);
}

.showItems {
  margin-top: 3rem;
  text-align: center;
}

.eachItem {
  background: rgb(44, 12, 89);
  padding: 1.2rem 1rem;
  border-radius: 0.5rem;
  margin-bottom: 0.7rem;
  margin-left: 1rem;
  min-width: 40rem;
  word-break: break-word;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.showItems .eachItem h3 {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #fff;
}

.fa-trash-alt,
.fa-edit {
  /* margin-left: -2.5rem; */
  cursor: pointer;
  pointer-events: auto;
  z-index: 10;
  color: rgb(251, 251, 251);
  -webkit-transition: color 0.15s linear;
  transition: color 0.15s linear;
  font-size: 2rem;
}

.addItems .fa-edit {
  color: rgb(4, 120, 56);
  font-weight: bold;
}

.fa-edit {
  margin-left: -3.5rem;
}

.btn {
  letter-spacing: 0.1em;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  line-height: 45px;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}
